body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #125784;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.blue-bg {
    background-color: #125784;
    color: white;
    padding: 20px;
}

.purple-bg {
    background-color: #5e35b1;
    color: white;
    padding: 20px;
}

.orange-bg {
    background-color: #f57f17;
    color: white;
    padding: 20px;
}

.image-section {
    position: relative;
    width: 40%;
    height: 400px;
    background-image: url('C:/Users/rugmi/AppData/Local/Temp/Temp268e7fe5-5daa-4e17-8c4e-e69a7c91aaa4_FinalExam.zip/Final Exam/resources/img1.jpg');
    color: white;
    text-align: center;
}

footer {
    background-color: #09090a;
    color: white;
    text-align: center;
    padding: 10px;
}
